In [2]:
import pandas as pd
import numpy as np
import sqlalchemy
from datetime import datetime
import time
import ta
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
from IPython.display import clear_output

import warnings
warnings.filterwarnings('ignore')

%load_ext autoreload
%autoreload 2

path = "C:/Users/cc/Desktop/CedAlgo/AlgoTrading/database/"

def get_database(Id , interval):
    engine = sqlalchemy.create_engine('sqlite:///'+path+'database_{}.db'.format(interval))
    
    data = pd.read_sql(Id+'USDT' ,engine)
    data.set_index('time' , inplace=True)
    data['volume'] = pd.to_numeric(data['volume'])
    data = data[['open', 'high', 'low' , 'close' , 'volume', 'symbol', 'close_time']]
    return data


def get_multi_base(interval, table = 'close'):
    engine = sqlalchemy.create_engine('sqlite:///'+path+'database_multi_{}.db'.format(interval))
    data = pd.read_sql(table ,engine)
    data.set_index('time', inplace = True)
    data.dropna(inplace = True)
    return data

In [3]:
data = get_multi_base("1d")

asset = ["BTC", "ETH"]
data = data[asset]

symbols = data.columns
data.head()

                 BTC      ETH
time
2021-09-13  44940.73  3285.35
2021-09-14  47111.52  3434.37
2021-09-15  48121.41  3613.55
2021-09-16  47737.82  3567.98
2021-09-17  47299.98  3399.81

In [4]:
symbols = data.columns

for symbol in symbols:
    data[symbol+"_returns"] = data[symbol].pct_change()
    data[symbol+"_cum_rets"] = (data[symbol+"_returns"] + 1).cumprod()

data.head()

,BTC,ETH,BTC_returns,BTC_cum_rets,ETH_returns,ETH_cum_rets
time,,,,,,
2021-09-13,44940.73,3285.35,NaN,NaN,NaN,NaN
2021-09-14,47111.52,3434.37,0.048303,1.048303,0.045359,1.045359
2021-09-15,48121.41,3613.55,0.021436,1.070775,0.052173,1.099898
2021-09-16,47737.82,3567.98,-0.007971,1.062240,-0.012611,1.086027
2021-09-17,47299.98,3399.81,-0.009172,1.052497,-0.047133,1.034840

## Basic mean reversion

### Regle

 1. Indicateurs : APO , params : 10 days, K_FAST, K_SLOW
 2. Conditions buy : APO < -10
 3. Conditions sell : APO > 10
 4. Others close condition : Quand le return aura atteint un certains niveau, MIN_PROFIT_TO_CLOSE

## Basic trend following

### Regle

## Volatility_trend_following

## Volatility_mean_reversion

### Regle